touch .gitignore
# Ignore the dataset folder
dataset/
# Ignore the processed data folder
processedDataset-1/

# Ignore the processed data folder
MaskedDataset/

# Ignore the processed data folder
processedDataset/

# Ignore the pickle files
*.pickle

# Ignore the model files
*.pth